/Part 1- 4 Code/WebAPIPrac/packages
/Part 1- 4 Code/WebAPIPrac/WebAPIPrac/bin
/Part 5 - Code/SampleCode/WebApplication7/bin
/Part 6 - Code/oAuthTest/oAuthTest/bin
/Part 1- 4 Code/WebAPIPrac/MVCPracWithAPI/bin
/Part 7 - Code/oAuthTest/oAuthTest/bin
/Part 1- 4 Code/WebAPIPrac/WebAPIPrac/obj
/Part 5 - Code/SampleCode/WebApplication7/obj
/Part 6 - Code/oAuthTest/oAuthTest/obj
/Part 1- 4 Code/WebAPIPrac/MVCPracWithAPI/obj
/Part 7 - Code/oAuthTest/oAuthTest/obj
/Part 6 - Code/oAuthTest/packages
/Part 7 - Code/oAuthTest/packages
/Part 8- Code/oAuthTest/oAuthTest.v12.suo
/Part 8- Code/oAuthTest/packages
/Part 8- Code/oAuthTest/oAuthTest/bin
/Part 8- Code/oAuthTest/oAuthTest/obj
